@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Custom Calendar Styling */
.rbc-calendar,
.rbc-month-view,
.rbc-date-cell,
.rbc-day-bg,
.rbc-header {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(10, 41, 82) !important;
    border-bottom: 1px solid #ccc;
      text-align: center;
}

.rbc-month-view {
    border: 1px solid #e0e0e0;
}

.rbc-date-cell {
    border: 1px solid #7e6c6c !important;
    box-sizing: border-box;
    padding: 0 !important;
}



.rbc-off-range {
    background-color: #fafafa !important;
    color: #c4c3c3 !important;
}

