@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Custom Calendar Styling */
.rbc-calendar,
.rbc-month-view,
.rbc-date-cell,
.rbc-day-bg,
.rbc-toolbar button {
  background-color: #6c7f6f;
  /* dark green background */
  color: #ffffff;
  /* white text */
  border: none;
  
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.rbc-header {
    background-color: rgb(230, 230, 230) !important;
    color: rgb(10, 41, 82) !important;
    border-bottom: none;
    text-align: center;
}

.rbc-month-view {
    border: none;
}


.rbc-date-cell {
    border: none;
    box-sizing: border-box;
    padding: 0 !important;
}

.rbc-off-range {
    background-color: #6c7f6f !important;
    color: #c4c3c3 !important;
}

